@font-face {
  font-family: "Jangkuy";
  src: url("./Fonts/JANGKUY-RegularExpanded.otf");
}

@font-face{
  font-family: Poppins;
  src: url('./Fonts/Poppins-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --green_light: #6aaa99;
  --green_dark: #44706f;
  --gray: #b4c7c7;
  --black: black;
  --white: white;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--gray);
  overflow-x: hidden ;
}

h3,
h4,
p,
a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 1em;
  color: var(--green_dark);
}

h1, h2 {
  text-align: center;
  font-family: "Jangkuy";
  color: var(--green_dark);
}

a:hover {
  text-decoration: none;
  color: var(--green_light) !important;
}

.button {
  padding: 10px 40px;
  text-align: center;
  border: 1px solid #000;
  text-decoration: none;
}

.button:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.button-shadow {
  background: var(--green_dark);
  color: var(--white);
  box-shadow: 4px 4px 0 var(--green_light);
}

.button-shop {
  padding: 10px 40px;
  text-align: center;
  border: 1px solid #000;
  text-decoration: none;
}

.button-shop:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.button-shop-shadow {
  color: var(--white);
  background: var(--green_dark);
  box-shadow: 4px 4px 0 var(--gray);
}

.navbar-brand{
  font-size: 1.5em;
  font-family: Jangkuy;
  color: var(--white);
}

.navbar-brand:hover{
  color: var(--green_light);
}


.navbar{
  height: 7vh;
  z-index: 2;
  background: var(--green_dark);
}

.navbar li a{
  color: var(--white);
}
.navbar li a:hover{
  color: var(--green_light);
}

.navbar-toggler{
  border: none !important;
}

.navbar-collapse{
  flex-grow: 0 !important;
}


#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}

.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 93vh;
  background: var(--gray);
  position: relative;
}

.landingPage_footer{

  background: rgb(167, 103, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0%;
  position: absolute;
  border: var(--black) 2px solid;
}

.landingPage_center {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingPage_center h1{
  font-size: 3em;
}

.landingPage_center h2{
  font-size: 2em;
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.landingPage_image {
  position: absolute;
  bottom: -10%;
}

.landingPage_image img {
  width: 100vw;
  height: 40vh;
}

.productPage {
  position: relative;
  background: var(--green_light);
}

.productPage_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
}

.productPage_header h1{
  color: var(--white);
}

.productPage_header p{
  color: var(--white);
  width: 50vw;
  text-align: center;
}

.flower-power{
  position: absolute;
  height: 60vh;
  right: -14vw;
  top: 10vh;
}

.ecwid div,
.ecwid span,
.ecwid a,
.ecwid p {
  font-family: Poppins !important;
  color: var(--white) !important;
}

.ec-size .ec-store__category-page .ec-store__content-wrapper {
  display: flex;
  flex-direction: column;
}

.shop{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}


.productPage_products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productPage_products-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.productPage_section-container1, .productPage_section-container2, .productPage_section-container3{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.productPage_section-container3{
  padding-bottom: 5vh;
}

.productPage_section1{
  border: var(--black) 2px solid;
  position: relative;
  padding: 2vh;
}

.productPage_section1 img{
  height: 60vh;
}

.productPage_section2{
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vw;
  text-align: right;
  border: var(--black) 2px solid;
}

.productPage_section2 img{
  width: 30vw;
}
.productPage_section2 p{
  margin-top: 2vh;
  width: 26vw;
}

.productPage_section3{
 border: var(--black) 2px solid;
 padding: 2vh; 
}

.productPage_section3 img{
  width: 30vw;
}

.productPage_section4 img{
  width: 30vw;
  height: 70vh;
}

.productPage_section5 img{
  width: 20vw;
}

.detailsPage {
  background: var(--gray);
}

.detailsPage_header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
}

.detailsPage_header h1{
  font-size: 2em;
}

.detailsPage_header h2{
  font-size: 1em;
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.detailsPage_section1, .detailsPage_section2, .detailsPage_section3, .detailsPage_section4{
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 0vh;
  border: var(--black) 2px solid;
}

.detailsPage_section1 p{
  text-align: right;
  width: 20vw;
}

.detailsPage_section1 img{
  height: 60vh;
}

.detailsPage_section3 img{
  height: 60vh;
}

.detailsPage_section3 p{
  text-align: right;
  width: 20vw;
}

.detailsPage_section2-img1{
  height: 60vh;
}

.detailsPage_section2-img2{
  height: 80vh;
}

.detailsPage_section4-img1{
  height: 70vh;
}

.detailsPage_section4-img2{
  height: 90vh;
}





.footer-prm{
  background: rgb(167, 103, 216);
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p{
  margin: 0% !important;
}

.flower-footer{
  height: 10vh;
}



@media (max-width: 1024px) {

  
  h3,
  h4,
  p,
  a {
    font-family: "Poppins" !important;
    text-decoration: none;
    font-size: 1em;
    color: var(--green_dark);
  }
  
  h1, h2 {
    font-family: "Jangkuy";
    color: var(--green_dark);
  }

  .navbar-brand{
    font-size: 2em;
    font-family: "Jangkuy" !important;
    color: var(--white);
  }

  .landingPage_center h1{
    font-size: 2em;
    text-align: center;
  }
  
  .landingPage_center h2{
    font-size: 1em;
    margin-bottom: 5vh;
    margin-top: 1vh;
  }

  .flower-power{
    display: none;
  }

  .productPage_section-container1, .productPage_section-container2, .productPage_section-container3{
    margin: 5vh 0vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .productPage_section2, .productPage_section3, .productPage_section4{
    display: none;
  }

  .detailsPage_section1, .detailsPage_section2, .detailsPage_section3, .detailsPage_section4{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0vh;
    border: var(--black) 2px solid;
  }
  

  .detailsPage_section1 p{
    margin-top: 5vh;
    text-align: right;
    width: 80vw;
  }

  .detailsPage_section3 p{
    text-align: right;
    width: 80vw;
    margin-bottom: 5vh;
  }

  .detailsPage_section2-img1{
    height: 50vh;
    margin-bottom: 5vh;
  }
  
  .detailsPage_section2-img2{
    height: 50vh;
  }
  
  .detailsPage_section4-img1{
    height: 50vh;
    margin-bottom: 5vh;
  }
  
  .detailsPage_section4-img2{
    height: 50vh;
  }

  .detailsPage{
    overflow-x: hidden;
  }
  .productPage{
    overflow-x: hidden;
  }

}
