* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --green_light: #6aaa99;
  --green_dark: #44706f;
  --gray: #b4c7c7;
  --black: black;
  --white: white;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Jangkuy";
  src: url("./../fonts/JANGKUY-RegularExpanded.otf") format("otf");
}

@font-face {
  font-family: "PopRegular";
  src: url("./../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PopBold";
  src: url("./../fonts/Poppins-Bold.ttf");
}

body {
  font-family: "PopRegular";
  background: var(--green_light) !important;
}

h3,
h4,
p,
a {
  font-family: "PopBold";
  text-decoration: none;
  font-size: 1em;
  color: var(--green_dark);
}

h1, h2 {
  text-align: center;
  font-family: "Jangkuy";
  color: var(--green_dark);
}

h1 a:hover{
  color: var(--white);
}


.navbar-brand{
  font-size: 1.5em;
  font-family: Jangkuy;
  color: var(--white);
}

.navbar-brand:hover{
  color: var(--green_light);
}


.navbar{
  height: 7vh;
  z-index: 2;
  background: var(--green_dark);
  margin-bottom: 5vh;
}

.navbar li a{
  color: var(--white);
}
.navbar li a:hover{
  color: var(--green_light);
}

.navbar-toggler{
  border: none !important;
}

.navbar-collapse{
  flex-grow: 0 !important;
}

.ecwid div,
.ecwid span,
.ecwid a,
.ecwid p {
  font-family: "PopRegular" !important;
  color: var(--white) !important;
}

.ec-size .ec-store__category-page .ec-store__content-wrapper {
  display: flex;
  flex-direction: column;
}
.ec-size .ec-store__category-page .ec-grid {
  order: 2;
}
.ec-size .ec-store__category-page .ec-pager {
  order: 3;
}
.ec-size .ec-store__category-page .ec-footer {
  order: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
}

.header h1{
  font-family: "Jangkuy";
    color: var(--white);
}

.header p{
  color: var(--white);
  width: 50vw;
  text-align: center;
}

@media (max-width: 1024px) {
  h3,
  h4,
  p,
  a {
    font-family: "PopBold" !important;
    text-decoration: none;
    font-size: 1em;
    color: var(--green_dark);
  }
  
  h1, h2 {
    font-family: "Jangkuy";
    color: var(--green_dark);
  }

  .navigation_menu h1 a {
    display: none;
  }
}

